* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/*& ----------------------------nav---------------------- */
.nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding-inline: 7vw;
    align-items: center;
    height: 10vh;
}

.nav h1 {
    color: #37373f;
}

.list1 {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.list1 li {
    list-style: none;
    text-decoration: none;
}

.list1 select {
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: #5f6265;
    font-size: 17.5px;
    font-weight: 500;
    outline: none;
}
.right2 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sele {
    position: relative;
    /* display: inline-block; */
}

.sele::after {
    position: absolute;
    content: "";
    bottom: -4px;
    left: 0;
    width: 0%;
    height: 0.01px;
    background-color: #ce1212;
    transition: width 0.3s ease-in-out;
    padding-bottom: 3px;
}

.sele:hover::after {
    width: 100%;
}

.list1 a {
    text-decoration: none;
    color: #5f6265;
    font-size: 18.5px;
    font-weight: 500;
    position: relative;
    padding-bottom: 3px;
}

.list1 a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0px;
    height: 2px;
    background-color: #ce1212;
    transition: width 0.3s ease;
}

.list1 a:hover::after {
    width: 100%;
    /* expand on hover */
}

.list1 a:hover {
    color: #37373f;
}

.dot {
    color: #ce1212;
    font-size: 40px;
}

.but1 {
    background-color: #ce1212;
    padding: 1.5vh 1.7vw;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    font-size: 16px;
}

.but1:hover {
    background-color: #d53535;
}

/* & ----------------------------hero section-------------------------- */
@font-face {
    font-family: "hafsa";
    src: url("../fonts/AmaticSC-Bold.ttf");
    font-weight: 500;
    font-style: normal;
}

.hero {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    padding-inline: 7vw;
    padding-top: 8vh;
    padding-bottom: 8vh;
    align-items: center;

}

.left1 {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.left1 h1 {
    font-family: "hafsa";
    font-size: 5rem;
    color: #37373f;
    margin: 0;
}

.top1 {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.top1 p {
    font-size: 21px;
    color: #5f6265;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bot1 {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.btn2 {
    background-color: #ce1212;
    padding: 1.5vh 1.7vw;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    font-size: 18px;
}

.btn3 {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    border: none;
    background-color: transparent;
}

.btn3 p {
    font-size: 18px;
    color: #37373f;
}
.btn3 p:hover {
    color: #ce1212;
}

.img1 {
    position: relative;
    animation: upDown 2s infinite alternate;
    /* alternate makes mooves moore smooth */
}

@keyframes upDown {
    from {
       top:  0px;
    }
    to {
        top: 40px;
    }
}

/* &------------------------------about page------------------- */

.about {
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: center;
    padding: 8vh 5vw;
    gap: 5vh;
}
.big {
    display: flex;
    gap: 4vw;
}
.top2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.top2 p {
    color: #5f6265;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.top2 h2 {
    color: #37373f;
    font-family: "hafsa";
    font-size: 60px;
    margin: 0;
}
.span1 {
    color: #ce1212;
    font-family: "hafsa";
    font-size: 50px;
}
.left2 img {
    width: 800px;
}
.para span  {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}
.para span p {
    font-size: 18px;
    color: #37373f;
}
.fr {
    color: #5f6265;
    font-size: 19px;
}
.con {
    border: 5px solid #5f6265;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh 5vw;
    gap: 1vh;
    color: #37373f;
}
.con h2 {
    color: #ce1212;
}
.left2 {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}
.right2 {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    letter-spacing: 0.2px;
    line-height: 25px;
}
.para {
    color: #37373f;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 1.5vh;
    justify-content: first baselinee;
}
.span2  {
    color: #37373f;
    font-size: 19px;
}
/*&------------------------ why choose us -----------------------*/
.why {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 4vw;
    /* height: 40vh; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    padding: 8vh 5vw;
}
.left3 {
    background-color: #ce1212;
    display: flex;
    flex-direction: column;
    padding: 5vh 3vw;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 4vh;
    text-align: left;
    color: #f2f2f2;
        box-shadow: 0 10px 15px rgba(0,0,0,0.1), 0 4px 6px rgba(0,0,0,0.05);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.left3 p {
    font-size: 19px;
}
.left3 button {
    width: 11vw;
    margin-left: 6vw;
    /* padding: 1vh 4vw; */
    padding-inline: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    align-items: center;
    background-color: #d53535;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #f2f2f2;
    font-size: 17px;
    transition: all 0.1s ease;
}
.left3 button:hover {
    background-color: #f2f2f2;
    color: #ce1212;
}
.left3 button:hover svg {
    fill: #ce1212;
}
.cards {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    align-items: center;
    gap: 3vh;
    text-align: center;
        box-shadow: 0 10px 15px rgba(0,0,0,0.1), 0 4px 6px rgba(0,0,0,0.05);
}
.cards h2 {
    color: #37373f;
}
.cards p {
    color: #5f6265;
}
.cards .svg3 {
    background-color: #d535351b;
    padding: 3vh ;
    padding-inline: 3.2vh;
    border-radius:50px ;
    transition: all 0.2s ease;
}
.svg3 svg {
    fill: #ce1212;
    transition: all 0.2s ease;
}
.cards:hover .svg3 {
    background-color: #ce1212;
}
.cards:hover svg {
    fill: #f2f2f2;
}
/* &-----------------------program----------------- */
.program {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;
    background-size: cover;
    height: 50vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.program::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../img/11.jpg");
    background-size: cover;
    filter: blur(2px);
    z-index: -2;
}
.program::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.258); /* darkness level */
    z-index: -1;
}
.program  div {
    position: relative;
    z-index: 1;
}
.program .nb h1 {
    color: #ffffff;
    font-size: 50px;
}
.program .nb p {
    font-size: 20px;
    color: #f2f2f29f;
    font-weight: bold;
}

/* &---------------------menu---------------------- */
.chch1 {
    font-size: 50px;
    color: #ce1212;
}
.menu {
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    /* padding: 8vh 5vw; */
    gap: 6vh;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
}
.head h4 {
    color: #5f6265;
    font-size: 18px;
    font-weight: 100;
}
.head h1 {
    font-family: "hafsa";
    font-size: 60px;
}
.head span {
    font-family: "hafsa";
    color: #ce1212;
}
.BTN  {
    display: flex;
    gap: 1vw;
    align-items: center;
    justify-content: center;
}
.BTN button {
    background-color: transparent;
    border: none;
    font-size: 21px;
    color: #37373fe3;
    border-bottom: 2px solid #37373f56;
    transition: all 0.2s ease;
    padding-bottom: 3px;
}
.BTN button:hover {
    border-bottom-color:#ce1212 ;
}
.small {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}
.title h4 {
    color: #5f6265;
    font-size: 18px;
    font-weight: 100;
}
.title h1 {
    font-family: "hafsa";
    font-size: 50px;
    color: #ce1212;
}
.realMenu {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 3vh;
    /* background-color: #d53535; */
    box-sizing: border-box;
    overflow-x: hidden;
    align-items: center;
}
.realMenu img {
    width: 320px;
}
.realMenu div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}
.realMenu div h2 {
    color: #37373f;
    font-family: "hafsa";
    font-size: 30px;
}
.realMenu div p {
    color: #5f6265;
}
.realMenu div h3 {
    color: #ce1212;
    font-family: "hafsa";
    font-size: 30px;
}
/*& -------------------chef------------------------- */

.chef {
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    padding: 5vh 5vw;
    align-items: center;
}
.chef h4 {
    color: #5f6265;
    font-weight: 100;
    font-size: 20px;
}
.chch {
    font-size: 44px;
    color: #ce1212;
}
.chef h1 {
    font-family: "hafsa";
    font-size: 45px;
}
.chef h1 {
    font-family: "hafsa";
    font-size: 45px;
}
.chefs2 {
    display: flex;
    gap: 3vw;
    padding: 2vh 5vw;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

.chefs2 div {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
    text-align: center;
    /* padding: 3vh 3vw;*/
    box-shadow: 0 10px 15px rgba(0,0,0,0.1), 
                0 4px 6px rgba(0,0,0,0.05);
    max-width: 400px;
    border-radius: 10px;
    padding-bottom: 5vh;
    transition: all 0.2s ease;
}
/* scale makes the div bigger without breaking the layout */
.chefs2 div:hover {
    transform: translateY(-10px) scale(1.08);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.358);
    z-index: 10;
}

.chefs2 img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
/* &---------------------reservations----------- */
.book {
    background-color: #f5f5f5; /* replace $bgbook */
    display: flex;
    /* padding-left: 6vw; */
    padding-right: 6vw;
    margin-bottom: 5vh;
    width: fit-content;
    height: 75vh;
}

.imb {
    width: 36vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imb img {
    width: 100%;
    height: 100%;

}
.formm {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding: 15vh 3vw;
    width: 50%;
    align-items: center;
}

.grid-book {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
    width: 100%;
}

.grid-book input {
    padding: 1vh 0.4vw;
    outline: none;
    border-color: #5f626517;
}

.grid-book input:focus {
    outline: none;
    border: #ce1212 solid 2px; /* $myclr */
    box-shadow: 0 8px 25px #ce121240;
}


.text {
    width: 100%;
}

.text textarea {
    width: 100%;
    height: 20vh;
    padding: 1vh 1vw;
    outline: none;
    border-color: #5f62652c;
}

.text textarea:focus {
    outline: none;
    border: #ce1212 solid 2px; 
    box-shadow: 0 8px 25px #ce121259;
}


.book-bu {
    background-color: #ce1212; 
    border-radius: 5px;
    padding: 1vh 2vw;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
}

.book-bu:hover {
    background-color: #d53535; /* darker version of $myclr */
}

.form {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
    padding-top: 4vh;
}

.form .head-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.form .head-book button {
    background-color: transparent;
    border-radius: 20px;
    border: none;
    padding: 1vh 1.5vw;
    font-weight: 100;
    font-size: 18px;
    color: #5f6265; 
}

.head-book h1 {
    font-family: "hafsa";
    font-size: 50px;
}
.head-book h1 .tab {
    font-family: "hafsa";
    font-size: 50px ;
    color: #ce1212;
}

/* &------------------map-------------- */
.map {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    text-align: center;
    padding-inline: 10vw;
    padding-top: 4vh;
    padding-bottom: 3vh;
}
.tit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}
.tite button {
    color: #5f6265;
    font-weight: 100;
    font-size: 18px;
    background-color: transparent;
    border: none;
}
.tite h1 {
    font-family: "hafsa";
    font-size: 50px;
}
.tite h1 span {
    font-family: "hafsa";
    font-size: 50px;
    color: #ce1212;
}
/* &------------------------foooter ----------------- */
.footer {
    background-color: #1f1f24;
    padding-top: 8vh;
    
}
.container {
    display: flex;
    flex-direction: column;
    color: white;
}
.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-inline: 4vw;
    padding-bottom: 3vh;
    border-bottom: #37373fc5 solid 2px;
}
.item {
    display: flex;
    gap: 0.4vw;
}
.item p,span {
    font-family: "hafsa";
    font-size: 23px;
}
.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vw;
}
.social svg:hover {
    fill: #ce121281;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom p {
    padding-top: 3vh;
    font-family: "hafsa";
    font-size: 22px;
    padding-bottom: 3vh;
}
.spa {
    color: #ce1212;
}
/* &----------------contact2-------------------- */
.cnt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 8vw;
    gap: 2.5vh;
    padding-top: 4vh;
    padding-bottom: 6vh;
}
.it {
    padding: 3vh 2vw;
    display: flex;
    gap: 1vw;
    box-shadow: 0 1px 20px rgba(0,0,0,0.1), 0 4px 6px rgba(0,0,0,0.05);
}
.text12 .span12,.p12{
    font-size: 23px;
    font-family: "hafsa";
}



